<!-- wp:template-part {"slug":"header","theme":"oigny-lite","area":"header"} /-->

<!-- wp:pattern {"slug":"oigny-lite/oigny-lite-search-core-hero"} /-->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:columns {"style":{"spacing":{"padding":{"right":"12vw","left":"12vw","top":"100px","bottom":"100px"}}}} -->
<div class="wp-block-columns" style="padding-top:100px;padding-right:12vw;padding-bottom:100px;padding-left:12vw"><!-- wp:column {"style":{"spacing":{"blockGap":"40px"}}} -->
<div class="wp-block-column"><!-- wp:search {"label":"Search","showLabel":false,"width":70,"widthUnit":"%","buttonText":"Search","align":"center","style":{"border":{"radius":"15px","width":"1px"},"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"typography":{"fontSize":"18px"}},"backgroundColor":"black","textColor":"white","borderColor":"white"} /-->

<!-- wp:query {"queryId":53,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":true,"parents":[],"taxQuery":null},"tagName":"main"} -->
<main class="wp-block-query"><!-- wp:post-template {"style":{"typography":{"fontSize":"14px"},"spacing":{"blockGap":"60px"}},"layout":{"type":"grid","columnCount":2}} -->
<!-- wp:group {"layout":{"inherit":false}} -->
<div class="wp-block-group"><!-- wp:post-featured-image {"style":{"border":{"radius":{"topLeft":"15px","topRight":"15px"}},"spacing":{"margin":{"bottom":"25px"}}}} /-->

<!-- wp:post-title {"level":3,"isLink":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"500"},"spacing":{"margin":{"bottom":"12px"}}},"fontSize":"post-block"} /-->

<!-- wp:post-date {"style":{"elements":{"link":{"color":{"text":"#c7c7c7ad"}}},"color":{"text":"#c7c7c7ad"}}} /-->

<!-- wp:post-excerpt {"moreText":"Read More","excerptLength":19,"style":{"typography":{"fontSize":"18px","fontStyle":"normal","fontWeight":"300"},"elements":{"link":{"color":{"text":"var:preset|color|theme-2"},":hover":{"color":{"text":"var:preset|color|theme-5"}}}},"spacing":{"margin":{"top":"12px"}}},"textColor":"theme-3"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></main>
<!-- /wp:query --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"oigny-lite","area":"footer"} /-->