body .is-style-custombuttonstyle1 .wp-block-button__link {
    color: var(--wp--preset--color--white);
    font-size: 18px;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: 0.05em;
    background-color: var(--wp--preset--color--theme-8);
    border-style: solid;
    border-width: 1px;
    border-color: var(--wp--preset--color--white);
    border-radius: 15px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 24px;
    padding-left: 40px;
    transition: color 0.5s, background-color 0.5s, border-radius 0.5s;
}

body .is-style-custombuttonstyle1:hover .wp-block-button__link {
    color: var(--wp--preset--color--black);
    background-color: var(--wp--preset--color--white);
    border-radius: 50px;
}

body .is-style-custombuttonstyle2 .wp-block-button__link {
    color: var(--wp--preset--color--white);
    font-size: 14px;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: 0.05em;
    background-color: var(--wp--preset--color--theme-8);
    border-style: solid;
    border-width: 1px;
    border-color: var(--wp--preset--color--white);
    border-radius: 13px;
    padding-top: 18px;
    padding-right: 28px;
    padding-bottom: 22px;
    padding-left: 28px;
    transition: color 0.5s, background-color 0.5s, border-radius 0.5s;
}

body .is-style-custombuttonstyle2:hover .wp-block-button__link {
    background-color: var(--wp--preset--color--white);
    border-radius: 30px;
    color: var(--wp--preset--color--black);
}

body .is-style-custombuttonstyle3 .wp-block-button__link {
    color: var(--wp--preset--color--white);
    font-size: 12px;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: 0.05em;
    background-color: var(--wp--preset--color--theme-8);
    border-style: solid;
    border-width: 1px;
    border-color: var(--wp--preset--color--white);
    border-radius: 10px;
    padding-top: 14px;
    padding-right: 22px;
    padding-bottom: 16px;
    padding-left: 22px;
    transition: color 0.5s, background-color 0.5s, border-radius 0.5s;
}

body .is-style-custombuttonstyle3:hover .wp-block-button__link {
    background-color: var(--wp--preset--color--white);
    border-radius: 30px;
    color: var(--wp--preset--color--black);
}

body .is-style-custombuttonstyle4 .wp-block-button__link {
    color: var(--wp--preset--color--black);
    font-size: 12px;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: 0.05em;
    background-color: var(--wp--preset--color--white);
    border-style: solid;
    border-width: 1px;
    border-color: var(--wp--preset--color--white);
    border-radius: 10px;
    padding-top: 14px;
    padding-right: 22px;
    padding-bottom: 16px;
    padding-left: 22px;
    transition: color 0.5s, background-color 0.5s, border-radius 0.5s;
}

body .is-style-custombuttonstyle4:hover .wp-block-button__link {
    background-color: var(--wp--preset--color--theme-5);
    border-radius: 30px;
    color: var(--wp--preset--color--black);
}

@media only screen and (min-width: 600px) {
  .wp-block-navigation.is-style-customnav > .wp-block-navigation-item,
  .wp-block-navigation.is-style-customnav .wp-block-navigation__container > .wp-block-navigation-item {
   height: 70px;
  }
    
   .wp-block-navigation.is-style-customnav .wp-block-navigation__container > .wp-block-navigation-item:hover {
    color: var(--wp--preset--color--theme-2);
}
    
   body .wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container {
    background-color: var(--wp--preset--color--white);
    border-radius: 8px;
    border: none;
    color: var(--wp--preset--color--black);
    padding: 10px;
    min-width: 160px !important;
 }

   body .wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container li:hover {
     color: var(--wp--preset--color--theme-2);
   }
   
   .wp-block-navigation .wp-block-navigation__submenu-icon {
        align-self: center;
        background-color: inherit;
        display: inline-block;
        font-size: 24px;
        height: 0.6em;
        line-height: 0;
        margin-left: 0.25em;
        padding: 0;
        width: 0.6em;
   }
}

@media (max-width: 1024px) {
  body .hide-in-tablet {
    display: none !important;
  }
}

@media (max-width: 767px) {
  body .hide-in-mobile {
    display: none !important;
  }
}

body .wp-block-post-comments {
  padding: 0px;
  border: none;
  border-radius: 0px;
}

body .wp-block-post-comments h2 {
  font-size: 24px;
  font-weight: bold;
  color: var(--wp--preset--color--white);
  margin-bottom: 20px;
}

body .wp-block-post-comments p {
  font-size: 18px;
  line-height: 1.5;
  color: var(--wp--preset--color--theme-3);
  margin-top: 10px;
  margin-bottom: 20px;
}

.wp-block-post-comments label {
  display: block;
  margin-top: 15px;
  margin-bottom: 10px !important;
  font-family: var(--wp--preset--font-family--michroma);
  font-size: 14px;
  font-weight: normal;
  color: var(--wp--preset--color--theme-3);
}

.wp-block-post-comments [class^="comment-form-"] input:not([type=checkbox]) {
  padding: 18px;
  background-color: var(--wp--preset--color--black);
  color: var(--wp--preset--color--white);
  border-radius: 10px;
  border: 1px solid var(--wp--preset--color--theme-6);
  margin-bottom: 20px;
  font-size: 16px;
}

.wp-block-post-comments textarea {
  padding: 18px;
  background-color: var(--wp--preset--color--black);
  color: var(--wp--preset--color--white);
  border-radius: 10px;
  border: 1px solid var(--wp--preset--color--theme-6);
  font-size: 18px;
  resize: vertical; 
  min-height: 100px; 
}

body .wp-block-post-comments input[type=submit] {
  margin-top: 0px;
  background-color: var(--wp--preset--color--black);
  color: var(--wp--preset--color--white);
  font-family: var(--wp--preset--font-family--michroma);
  font-size: 14px;
  font-weight: 600;
  padding-top: 16px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--wp--preset--color--white);
  transition: all 0.3s ease;
}

body .wp-block-post-comments [type=submit]:hover {
  background-color: var(--wp--preset--color--white);
  color: var(--wp--preset--color--black);
  border-radius: 50px;
}

.wp-block-separator{
  border-top: 1px solid;
}